.clickable {
    cursor: pointer;
}


.detailText {
    font-weight: bold;
    color: black;
  }

.blue{
    --sds-c-icon-color-foreground-default: blue;
}

.green{
    --sds-c-icon-color-foreground-default: green;
}

.red{
    --sds-c-icon-color-foreground-default: red;
}