.bgGreen{
    background-color: green;
    color: white;
    display: block;
    width: 100%;
}
.bgRed{
    color: white;
    background-color: red;
    width: 10rem;
    display: block;
}

.txtRed{
    color: red;
}

.txtBlue{
    color: blue;
}

.txtGreen{
    color: green;
}
